@model Category
<h1>Add Category</h1>

<form method="post">
    <fieldset>
        <div>
            <label for="exampleInputEmail1" class="form-label mt-4">Category Id</label>
            @Html.TextBoxFor(m => m.CategoryId,new { @class = "form-control" })
        </div>
        <div>
            <label for="exampleInputPassword1" class="form-label mt-4">Category Name</label>
            @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })
        </div>

        <div>
            <label for="exampleTextarea" class="form-label mt-4">Category Description</label>
            @Html.TextAreaFor(m => m.CategoryDescription, new { @class = "form-control" })
        </div>
       

        <button type="submit" class="btn btn-primary">Create Category</button>
    </fieldset>
</form>  